In [2]:
import pandas as pd
import numpy as np
import datetime 
%matplotlib inline
from pandas_datareader import data as pdr
import yfinance as yf
import config

In [12]:
yf.pdr_override()
start = datetime.datetime(2006, 1,1)
end = datetime.datetime(2016, 1, 1)
df = pdr.get_data_yahoo(["BAC", "C", "GS", "JPM", "MS", "WFC"], start=start, end=end)

[*********************100%***********************]  6 of 6 completed

In [14]:
df.head()

            Adj Close                                                \
                  BAC           C          GS        JPM         MS
Date
2006-01-03  33.170322  354.033661  101.194183  25.504076  34.886646
2006-01-04  32.818031  347.497375   99.796425  25.356871  34.910576
2006-01-05  32.860294  349.221252   99.757164  25.433670  35.006290
2006-01-06  32.810982  349.221252  101.170609  25.612869  35.042202
2006-01-09  32.832130  347.569153  102.387741  26.028883  35.413147

                           Close                                     ...  \
                  WFC        BAC           C          GS        JPM  ...
Date                                                                 ...
2006-01-03  19.975792  47.080002  492.899994  128.869995  40.189999  ...
2006-01-04  19.744097  46.580002  483.799988  127.089996  39.619999  ...
2006-01-05  19.722187  46.639999  486.200012  127.040001  39.740002  ...
2006-01-06  19.838039  46.570000  486.200012  128.839996  40.020000  ...
2006-01-09  19.834908  46.599998  483.899994  130.389999  40.669998  ...

                  Open                                     Volume           \
                    GS        JPM         MS        WFC       BAC        C
Date
2006-01-03  126.699997  39.830002  57.169998  31.600000  16296700  1537600
2006-01-04  127.349998  39.779999  58.700001  31.799999  17757900  1870960
2006-01-05  126.000000  39.610001  58.549999  31.500000  14970700  1143160
2006-01-06  127.290001  39.919998  58.770000  31.580000  12599800  1370210
2006-01-09  128.500000  39.880001  58.630001  31.674999  15619400  1680740


                 GS       JPM       MS       WFC
Date
2006-01-03  6188700  12838600  5377000  11016400
2006-01-04  4861600  13491500  7977800  10870000
2006-01-05  3717400   8109400  5778000  10158000
2006-01-06  4319600   7966900  6889800   8403800
2006-01-09  4723500  16575200  4144500   5619600

[5 rows x 36 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2006-01-03 to 2015-12-31
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Adj Close, BAC)  2517 non-null   float64
 1   (Adj Close, C)    2517 non-null   float64
 2   (Adj Close, GS)   2517 non-null   float64
 3   (Adj Close, JPM)  2517 non-null   float64
 4   (Adj Close, MS)   2517 non-null   float64
 5   (Adj Close, WFC)  2517 non-null   float64
 6   (Close, BAC)      2517 non-null   float64
 7   (Close, C)        2517 non-null   float64
 8   (Close, GS)       2517 non-null   float64
 9   (Close, JPM)      2517 non-null   float64
 10  (Close, MS)       2517 non-null   float64
 11  (Close, WFC)      2517 non-null   float64
 12  (High, BAC)       2517 non-null   float64
 13  (High, C)         2517 non-null   float64
 14  (High, GS)        2517 non-null   float64
 15  (High, JPM)       2517 non-null   float64
 16  (High, MS)        2517 non-null   float64
 17  (High, WFC)       2517 non-null   float64
 18  (Low, BAC)        2517 non-null   float64
 19  (Low, C)          2517 non-null   float64
 20  (Low, GS)         2517 non-null   float64
 21  (Low, JPM)        2517 non-null   float64
 22  (Low, MS)         2517 non-null   float64
 23  (Low, WFC)        2517 non-null   float64
 24  (Open, BAC)       2517 non-null   float64
 25  (Open, C)         2517 non-null   float64
 26  (Open, GS)        2517 non-null   float64
 27  (Open, JPM)       2517 non-null   float64
 28  (Open, MS)        2517 non-null   float64
 29  (Open, WFC)       2517 non-null   float64
 30  (Volume, BAC)     2517 non-null   int64
 31  (Volume, C)       2517 non-null   int64
 32  (Volume, GS)      2517 non-null   int64
 33  (Volume, JPM)     2517 non-null   int64
 34  (Volume, MS)      2517 non-null   int64
 35  (Volume, WFC)     2517 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 727.6 KB

#### Process data before loading to database

In [50]:
# examine the multi-index object that are columns of dataframe object
df.columns

MultiIndex([('Adj Close', 'BAC'),
            ('Adj Close',   'C'),
            ('Adj Close',  'GS'),
            ('Adj Close', 'JPM'),
            ('Adj Close',  'MS'),
            ('Adj Close', 'WFC'),
            (    'Close', 'BAC'),
            (    'Close',   'C'),
            (    'Close',  'GS'),
            (    'Close', 'JPM'),
            (    'Close',  'MS'),
            (    'Close', 'WFC'),
            (     'High', 'BAC'),
            (     'High',   'C'),
            (     'High',  'GS'),
            (     'High', 'JPM'),
            (     'High',  'MS'),
            (     'High', 'WFC'),
            (      'Low', 'BAC'),
            (      'Low',   'C'),
            (      'Low',  'GS'),
            (      'Low', 'JPM'),
            (      'Low',  'MS'),
            (      'Low', 'WFC'),
            (     'Open', 'BAC'),
            (     'Open',   'C'),
            (     'Open',  'GS'),
            (     'Open', 'JPM'),
            (     'Open',  'MS'),
            (     'Open', 'WFC'),
            (   'Volume', 'BAC'),
            (   'Volume',   'C'),
            (   'Volume',  'GS'),
            (   'Volume', 'JPM'),
            (   'Volume',  'MS'),
            (   'Volume', 'WFC')],
           )

In [52]:
# get bank of america stocks
df.xs(key="BAC", axis=1, level=1)

            Adj Close      Close       High        Low       Open    Volume
Date
2006-01-03  33.170322  47.080002  47.180000  46.150002  46.919998  16296700
2006-01-04  32.818031  46.580002  47.240002  46.450001  47.000000  17757900
2006-01-05  32.860294  46.639999  46.830002  46.320000  46.580002  14970700
2006-01-06  32.810982  46.570000  46.910000  46.349998  46.799999  12599800
2006-01-09  32.832130  46.599998  46.970001  46.360001  46.720001  15619400
...               ...        ...        ...        ...        ...       ...
2015-12-24  15.006726  17.270000  17.379999  17.219999  17.320000  29369400
2015-12-28  14.885073  17.129999  17.230000  16.980000  17.219999  41777500
2015-12-29  15.015417  17.280001  17.350000  17.160000  17.250000  45670400
2015-12-30  14.815556  17.049999  17.240000  17.040001  17.200001  35066400
2015-12-31  14.624390  16.830000  17.070000  16.830000  17.010000  47153000

[2517 rows x 6 columns]

In [53]:
# get citi bank stocks
df.xs(key="C", axis=1, level=1)

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2006-01-03,354.033661,492.899994,493.799988,481.100006,490.000000,1537600
2006-01-04,347.497375,483.799988,491.000000,483.500000,488.600006,1870960
2006-01-05,349.221252,486.200012,487.799988,484.000000,484.399994,1143160
2006-01-06,349.221252,486.200012,489.000000,482.000000,488.799988,1370210
2006-01-09,347.569153,483.899994,487.399994,483.000000,486.000000,1680740
...,...,...,...,...,...,...
2015-12-24,43.910793,52.709999,52.970001,52.450001,52.480000,4671200
2015-12-28,43.635887,52.380001,52.570000,51.959999,52.570000,8761700
2015-12-29,44.135719,52.980000,53.220001,52.740002,52.759998,10155100
2015-12-30,43.569229,52.299999,52.939999,52.250000,52.840000,8763300
2015-12-31,43.111050,51.750000,52.389999,51.750000,52.070000,11281800

In [54]:
# get goldman sachs socks
df.xs(key="GS", axis=1, level=1)

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2006-01-03,101.194183,128.869995,129.440002,124.230003,126.699997,6188700
2006-01-04,99.796425,127.089996,128.910004,126.379997,127.349998,4861600
2006-01-05,99.757164,127.040001,127.320000,125.610001,126.000000,3717400
2006-01-06,101.170609,128.839996,129.250000,127.290001,127.290001,4319600
2006-01-09,102.387741,130.389999,130.619995,128.000000,128.500000,4723500
...,...,...,...,...,...,...
2015-12-24,160.342773,182.470001,183.169998,182.020004,182.270004,1107600
2015-12-28,159.595871,181.619995,181.929993,179.839996,181.770004,1723300
2015-12-29,161.274277,183.529999,184.179993,182.500000,182.820007,1848900
2015-12-30,159.938568,182.009995,183.529999,181.839996,183.279999,1514300
2015-12-31,158.374405,180.229996,182.889999,180.029999,181.160004,1773900

In [55]:
# get JP Morgan stocks
df.xs(key="JPM", axis=1, level=1)

            Adj Close      Close       High        Low       Open    Volume
Date
2006-01-03  25.504076  40.189999  40.360001  39.299999  39.830002  12838600
2006-01-04  25.356871  39.619999  40.139999  39.419998  39.779999  13491500
2006-01-05  25.433670  39.740002  39.810001  39.500000  39.610001   8109400
2006-01-06  25.612869  40.020000  40.240002  39.549999  39.919998   7966900
2006-01-09  26.028883  40.669998  40.720001  39.880001  39.880001  16575200
...               ...        ...        ...        ...        ...       ...
2015-12-24  54.313854  66.599998  66.889999  66.320000  66.620003   4468200
2015-12-28  54.134438  66.379997  66.449997  65.709999  66.290001   6610600
2015-12-29  54.697140  67.070000  67.300003  66.739998  66.839996   9820800
2015-12-30  54.305691  66.589996  67.050003  66.449997  67.040001   7190700
2015-12-31  53.849010  66.029999  66.779999  66.000000  66.190002  14654300

[2517 rows x 6 columns]

In [56]:
# get Morgan Stanley wtocks
df.xs(key="MS", axis=1, level=1)

            Adj Close      Close       High        Low       Open   Volume
Date
2006-01-03  34.886646  58.310001  58.490002  56.740002  57.169998  5377000
2006-01-04  34.910576  58.349998  59.279999  58.349998  58.700001  7977800
2006-01-05  35.006290  58.509998  58.590000  58.020000  58.549999  5778000
2006-01-06  35.042202  58.570000  58.849998  58.049999  58.770000  6889800
2006-01-09  35.413147  59.189999  59.290001  58.619999  58.630001  4144500
...               ...        ...        ...        ...        ...      ...
2015-12-24  27.080437  32.480000  32.709999  32.439999  32.570000  2798200
2015-12-28  26.821976  32.169998  32.360001  31.950001  32.360001  5420300
2015-12-29  27.138803  32.549999  32.700001  32.330002  32.439999  6388200
2015-12-30  26.872000  32.230000  32.650002  32.200001  32.500000  5057200
2015-12-31  26.521824  31.809999  32.299999  31.770000  31.910000  8154300

[2517 rows x 6 columns]

In [57]:
# get Wells Fargo stocks
df.xs(key="WFC", axis=1, level=1)

            Adj Close      Close       High        Low       Open    Volume
Date
2006-01-03  19.975792  31.900000  31.975000  31.195000  31.600000  11016400
2006-01-04  19.744097  31.530001  31.820000  31.365000  31.799999  10870000
2006-01-05  19.722187  31.495001  31.555000  31.309999  31.500000  10158000
2006-01-06  19.838039  31.680000  31.775000  31.385000  31.580000   8403800
2006-01-09  19.834908  31.674999  31.825001  31.555000  31.674999   5619600
...               ...        ...        ...        ...        ...       ...
2015-12-24  44.707336  54.820000  55.090000  54.709999  54.970001   4999400
2015-12-28  44.593163  54.680000  54.779999  54.169998  54.549999   8288800
2015-12-29  45.090633  55.290001  55.349998  54.990002  55.110001   7894900
2015-12-30  44.764420  54.889999  55.310001  54.790001  55.270000   8016900
2015-12-31  44.332191  54.360001  54.950001  54.220001  54.509998  10929800

[2517 rows x 6 columns]

In [59]:
# reshape dataframe - stack inner-most level from 
df.stack(level=1)

                 Adj Close       Close        High         Low        Open  \
Date
2006-01-03 BAC   33.170322   47.080002   47.180000   46.150002   46.919998
           C    354.033661  492.899994  493.799988  481.100006  490.000000
           GS   101.194183  128.869995  129.440002  124.230003  126.699997
           JPM   25.504076   40.189999   40.360001   39.299999   39.830002
           MS    34.886646   58.310001   58.490002   56.740002   57.169998
...                    ...         ...         ...         ...         ...
2015-12-31 C     43.111050   51.750000   52.389999   51.750000   52.070000
           GS   158.374405  180.229996  182.889999  180.029999  181.160004
           JPM   53.849010   66.029999   66.779999   66.000000   66.190002
           MS    26.521824   31.809999   32.299999   31.770000   31.910000
           WFC   44.332191   54.360001   54.950001   54.220001   54.509998

                  Volume
Date
2006-01-03 BAC  16296700
           C     1537600
           GS    6188700
           JPM  12838600
           MS    5377000
...                  ...
2015-12-31 C    11281800
           GS    1773900
           JPM  14654300
           MS    8154300
           WFC  10929800

[15102 rows x 6 columns]