In [1]:
import pandas as pd
import numpy as np
import datetime 
%matplotlib inline
from pandas_datareader import data as pdr
import yfinance as yf
import config 
import sql_con

In [2]:
# get module variables
ROOT_DIR = config.ROOT_DIR
select_records = sql_con.select_records
insert_records = sql_con.insert_records
update_records = sql_con.update_records
conn_odbc = sql_con.conn_odbc
read_contents = sql_con.read_contents

In [3]:
yf.pdr_override()
start = datetime.datetime(2006, 1,1)
end = datetime.datetime(2016, 1, 1)
df = pdr.get_data_yahoo(["BAC", "C", "GS", "JPM", "MS", "WFC"], start=start, end=end)

[*********************100%***********************]  6 of 6 completed

In [4]:
df.head()

            Adj Close                                                \
                  BAC           C          GS        JPM         MS
Date
2006-01-03  33.170319  354.033661  101.194183  25.504065  34.886646
2006-01-04  32.818035  347.497375   99.796440  25.356884  34.910564
2006-01-05  32.860313  349.221252   99.757172  25.433676  35.006290
2006-01-06  32.810986  349.221252  101.170639  25.612881  35.042198
2006-01-09  32.832130  347.569275  102.387741  26.028883  35.413155

                           Close                                     ...  \
                  WFC        BAC           C          GS        JPM  ...
Date                                                                 ...
2006-01-03  19.975800  47.080002  492.899994  128.869995  40.189999  ...
2006-01-04  19.744110  46.580002  483.799988  127.089996  39.619999  ...
2006-01-05  19.722187  46.639999  486.200012  127.040001  39.740002  ...
2006-01-06  19.838039  46.570000  486.200012  128.839996  40.020000  ...
2006-01-09  19.834908  46.599998  483.899994  130.389999  40.669998  ...

                  Open                                     Volume           \
                    GS        JPM         MS        WFC       BAC        C
Date
2006-01-03  126.699997  39.830002  57.169998  31.600000  16296700  1537600
2006-01-04  127.349998  39.779999  58.700001  31.799999  17757900  1870960
2006-01-05  126.000000  39.610001  58.549999  31.500000  14970700  1143160
2006-01-06  127.290001  39.919998  58.770000  31.580000  12599800  1370210
2006-01-09  128.500000  39.880001  58.630001  31.674999  15619400  1680740


                 GS       JPM       MS       WFC
Date
2006-01-03  6188700  12838600  5377000  11016400
2006-01-04  4861600  13491500  7977800  10870000
2006-01-05  3717400   8109400  5778000  10158000
2006-01-06  4319600   7966900  6889800   8403800
2006-01-09  4723500  16575200  4144500   5619600

[5 rows x 36 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2006-01-03 to 2015-12-31
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Adj Close, BAC)  2517 non-null   float64
 1   (Adj Close, C)    2517 non-null   float64
 2   (Adj Close, GS)   2517 non-null   float64
 3   (Adj Close, JPM)  2517 non-null   float64
 4   (Adj Close, MS)   2517 non-null   float64
 5   (Adj Close, WFC)  2517 non-null   float64
 6   (Close, BAC)      2517 non-null   float64
 7   (Close, C)        2517 non-null   float64
 8   (Close, GS)       2517 non-null   float64
 9   (Close, JPM)      2517 non-null   float64
 10  (Close, MS)       2517 non-null   float64
 11  (Close, WFC)      2517 non-null   float64
 12  (High, BAC)       2517 non-null   float64
 13  (High, C)         2517 non-null   float64
 14  (High, GS)        2517 non-null   float64
 15  (High, JPM)       2517 non-null   float64
 16  (High, MS)        2517 non-null   float64
 17  (High, WFC)       2517 non-null   float64
 18  (Low, BAC)        2517 non-null   float64
 19  (Low, C)          2517 non-null   float64
 20  (Low, GS)         2517 non-null   float64
 21  (Low, JPM)        2517 non-null   float64
 22  (Low, MS)         2517 non-null   float64
 23  (Low, WFC)        2517 non-null   float64
 24  (Open, BAC)       2517 non-null   float64
 25  (Open, C)         2517 non-null   float64
 26  (Open, GS)        2517 non-null   float64
 27  (Open, JPM)       2517 non-null   float64
 28  (Open, MS)        2517 non-null   float64
 29  (Open, WFC)       2517 non-null   float64
 30  (Volume, BAC)     2517 non-null   int64
 31  (Volume, C)       2517 non-null   int64
 32  (Volume, GS)      2517 non-null   int64
 33  (Volume, JPM)     2517 non-null   int64
 34  (Volume, MS)      2517 non-null   int64
 35  (Volume, WFC)     2517 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 727.6 KB

#### Process data before loading to database

In [6]:
# examine the multi-index object that are columns of dataframe object
df.columns

MultiIndex([('Adj Close', 'BAC'),
            ('Adj Close',   'C'),
            ('Adj Close',  'GS'),
            ('Adj Close', 'JPM'),
            ('Adj Close',  'MS'),
            ('Adj Close', 'WFC'),
            (    'Close', 'BAC'),
            (    'Close',   'C'),
            (    'Close',  'GS'),
            (    'Close', 'JPM'),
            (    'Close',  'MS'),
            (    'Close', 'WFC'),
            (     'High', 'BAC'),
            (     'High',   'C'),
            (     'High',  'GS'),
            (     'High', 'JPM'),
            (     'High',  'MS'),
            (     'High', 'WFC'),
            (      'Low', 'BAC'),
            (      'Low',   'C'),
            (      'Low',  'GS'),
            (      'Low', 'JPM'),
            (      'Low',  'MS'),
            (      'Low', 'WFC'),
            (     'Open', 'BAC'),
            (     'Open',   'C'),
            (     'Open',  'GS'),
            (     'Open', 'JPM'),
            (     'Open',  'MS'),
            (     'Open', 'WFC'),
            (   'Volume', 'BAC'),
            (   'Volume',   'C'),
            (   'Volume',  'GS'),
            (   'Volume', 'JPM'),
            (   'Volume',  'MS'),
            (   'Volume', 'WFC')],
           )

In [7]:
# get bank of america stocks
df.xs(key="BAC", axis=1, level=1)

            Adj Close      Close       High        Low       Open    Volume
Date
2006-01-03  33.170319  47.080002  47.180000  46.150002  46.919998  16296700
2006-01-04  32.818035  46.580002  47.240002  46.450001  47.000000  17757900
2006-01-05  32.860313  46.639999  46.830002  46.320000  46.580002  14970700
2006-01-06  32.810986  46.570000  46.910000  46.349998  46.799999  12599800
2006-01-09  32.832130  46.599998  46.970001  46.360001  46.720001  15619400
...               ...        ...        ...        ...        ...       ...
2015-12-24  15.006726  17.270000  17.379999  17.219999  17.320000  29369400
2015-12-28  14.885071  17.129999  17.230000  16.980000  17.219999  41777500
2015-12-29  15.015416  17.280001  17.350000  17.160000  17.250000  45670400
2015-12-30  14.815560  17.049999  17.240000  17.040001  17.200001  35066400
2015-12-31  14.624389  16.830000  17.070000  16.830000  17.010000  47153000

[2517 rows x 6 columns]

In [8]:
# get citi bank stocks
df.xs(key="C", axis=1, level=1)

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2006-01-03,354.033661,492.899994,493.799988,481.100006,490.000000,1537600
2006-01-04,347.497375,483.799988,491.000000,483.500000,488.600006,1870960
2006-01-05,349.221252,486.200012,487.799988,484.000000,484.399994,1143160
2006-01-06,349.221252,486.200012,489.000000,482.000000,488.799988,1370210
2006-01-09,347.569275,483.899994,487.399994,483.000000,486.000000,1680740
...,...,...,...,...,...,...
2015-12-24,43.910793,52.709999,52.970001,52.450001,52.480000,4671200
2015-12-28,43.635887,52.380001,52.570000,51.959999,52.570000,8761700
2015-12-29,44.135712,52.980000,53.220001,52.740002,52.759998,10155100
2015-12-30,43.569241,52.299999,52.939999,52.250000,52.840000,8763300
2015-12-31,43.111061,51.750000,52.389999,51.750000,52.070000,11281800

In [9]:
# get goldman sachs socks
df.xs(key="GS", axis=1, level=1)

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2006-01-03,101.194183,128.869995,129.440002,124.230003,126.699997,6188700
2006-01-04,99.796440,127.089996,128.910004,126.379997,127.349998,4861600
2006-01-05,99.757172,127.040001,127.320000,125.610001,126.000000,3717400
2006-01-06,101.170639,128.839996,129.250000,127.290001,127.290001,4319600
2006-01-09,102.387741,130.389999,130.619995,128.000000,128.500000,4723500
...,...,...,...,...,...,...
2015-12-24,160.342804,182.470001,183.169998,182.020004,182.270004,1107600
2015-12-28,159.595856,181.619995,181.929993,179.839996,181.770004,1723300
2015-12-29,161.274231,183.529999,184.179993,182.500000,182.820007,1848900
2015-12-30,159.938583,182.009995,183.529999,181.839996,183.279999,1514300
2015-12-31,158.374405,180.229996,182.889999,180.029999,181.160004,1773900

In [10]:
# get JP Morgan stocks
df.xs(key="JPM", axis=1, level=1)

            Adj Close      Close       High        Low       Open    Volume
Date
2006-01-03  25.504065  40.189999  40.360001  39.299999  39.830002  12838600
2006-01-04  25.356884  39.619999  40.139999  39.419998  39.779999  13491500
2006-01-05  25.433676  39.740002  39.810001  39.500000  39.610001   8109400
2006-01-06  25.612881  40.020000  40.240002  39.549999  39.919998   7966900
2006-01-09  26.028883  40.669998  40.720001  39.880001  39.880001  16575200
...               ...        ...        ...        ...        ...       ...
2015-12-24  54.313866  66.599998  66.889999  66.320000  66.620003   4468200
2015-12-28  54.134434  66.379997  66.449997  65.709999  66.290001   6610600
2015-12-29  54.697144  67.070000  67.300003  66.739998  66.839996   9820800
2015-12-30  54.305679  66.589996  67.050003  66.449997  67.040001   7190700
2015-12-31  53.848999  66.029999  66.779999  66.000000  66.190002  14654300

[2517 rows x 6 columns]

In [11]:
# get Morgan Stanley wtocks
df.xs(key="MS", axis=1, level=1)

            Adj Close      Close       High        Low       Open   Volume
Date
2006-01-03  34.886646  58.310001  58.490002  56.740002  57.169998  5377000
2006-01-04  34.910564  58.349998  59.279999  58.349998  58.700001  7977800
2006-01-05  35.006290  58.509998  58.590000  58.020000  58.549999  5778000
2006-01-06  35.042198  58.570000  58.849998  58.049999  58.770000  6889800
2006-01-09  35.413155  59.189999  59.290001  58.619999  58.630001  4144500
...               ...        ...        ...        ...        ...      ...
2015-12-24  27.080444  32.480000  32.709999  32.439999  32.570000  2798200
2015-12-28  26.821978  32.169998  32.360001  31.950001  32.360001  5420300
2015-12-29  27.138802  32.549999  32.700001  32.330002  32.439999  6388200
2015-12-30  26.872004  32.230000  32.650002  32.200001  32.500000  5057200
2015-12-31  26.521826  31.809999  32.299999  31.770000  31.910000  8154300

[2517 rows x 6 columns]

In [12]:
# get Wells Fargo stocks
df.xs(key="WFC", axis=1, level=1)

            Adj Close      Close       High        Low       Open    Volume
Date
2006-01-03  19.975800  31.900000  31.975000  31.195000  31.600000  11016400
2006-01-04  19.744110  31.530001  31.820000  31.365000  31.799999  10870000
2006-01-05  19.722187  31.495001  31.555000  31.309999  31.500000  10158000
2006-01-06  19.838039  31.680000  31.775000  31.385000  31.580000   8403800
2006-01-09  19.834908  31.674999  31.825001  31.555000  31.674999   5619600
...               ...        ...        ...        ...        ...       ...
2015-12-24  44.707336  54.820000  55.090000  54.709999  54.970001   4999400
2015-12-28  44.593166  54.680000  54.779999  54.169998  54.549999   8288800
2015-12-29  45.090633  55.290001  55.349998  54.990002  55.110001   7894900
2015-12-30  44.764416  54.889999  55.310001  54.790001  55.270000   8016900
2015-12-31  44.332199  54.360001  54.950001  54.220001  54.509998  10929800

[2517 rows x 6 columns]

#### Do we have any null values in dataframe?

In [13]:
df.isna().values.any()

False

In [14]:
# reshape dataframe - stack inner-most level from columns to index
df = df.stack(level=1)
df.index.set_names(names="Ticker", level=1, inplace=True)

In [15]:
df

                    Adj Close       Close        High         Low        Open  \
Date       Ticker
2006-01-03 BAC      33.170319   47.080002   47.180000   46.150002   46.919998
           C       354.033661  492.899994  493.799988  481.100006  490.000000
           GS      101.194183  128.869995  129.440002  124.230003  126.699997
           JPM      25.504065   40.189999   40.360001   39.299999   39.830002
           MS       34.886646   58.310001   58.490002   56.740002   57.169998
...                       ...         ...         ...         ...         ...
2015-12-31 C        43.111061   51.750000   52.389999   51.750000   52.070000
           GS      158.374405  180.229996  182.889999  180.029999  181.160004
           JPM      53.848999   66.029999   66.779999   66.000000   66.190002
           MS       26.521826   31.809999   32.299999   31.770000   31.910000
           WFC      44.332199   54.360001   54.950001   54.220001   54.509998

                     Volume
Date       Ticker
2006-01-03 BAC     16296700
           C        1537600
           GS       6188700
           JPM     12838600
           MS       5377000
...                     ...
2015-12-31 C       11281800
           GS       1773900
           JPM     14654300
           MS       8154300
           WFC     10929800

[15102 rows x 6 columns]

In [16]:
# execute ddl statement for bank stocks data in sql server
select_records(conn_odbc(), read_contents(rf"{ROOT_DIR}/sql/bank_stocks_ddl.sql"))

In [17]:
df.reset_index()

,Date,Ticker,Adj Close,Close,High,Low,Open,Volume
0,2006-01-03,BAC,33.170319,47.080002,47.180000,46.150002,46.919998,16296700
1,2006-01-03,C,354.033661,492.899994,493.799988,481.100006,490.000000,1537600
2,2006-01-03,GS,101.194183,128.869995,129.440002,124.230003,126.699997,6188700
3,2006-01-03,JPM,25.504065,40.189999,40.360001,39.299999,39.830002,12838600
4,2006-01-03,MS,34.886646,58.310001,58.490002,56.740002,57.169998,5377000
...,...,...,...,...,...,...,...,...
15097,2015-12-31,C,43.111061,51.750000,52.389999,51.750000,52.070000,11281800
15098,2015-12-31,GS,158.374405,180.229996,182.889999,180.029999,181.160004,1773900
15099,2015-12-31,JPM,53.848999,66.029999,66.779999,66.000000,66.190002,14654300
15100,2015-12-31,MS,26.521826,31.809999,32.299999,31.770000,31.910000,8154300
15101,2015-12-31,WFC,44.332199,54.360001,54.950001,54.220001,54.509998,10929800

In [18]:
# insert bank stocks df into sql table bank stocks
cols = ["Date", "Ticker", "Adj_Close", "Close_Price", "High_Price", "Low_Price", "Open_Price", "Volume"]
insert_data = df.reset_index().values.tolist()
insert_records(conn_odbc(), read_contents(rf"{ROOT_DIR}/sql/bank_stocks_insert.sql"), insert_data)

# Exploratory Data Analysis

#### What is the max statistic for each bank's stock throughout the time period?

In [19]:
df.groupby("Ticker").agg(Adj_Close_Max=("Adj Close", "max"), Close_Max=("Close", "max"), High_Max=("High", "max"), Low_Max=("Low", "max"), Open_Max=("Open", "max"), Volume_Max=("Volume", "max"))

,Adj_Close_Max,Close_Max,High_Max,Low_Max,Open_Max,Volume_Max
Ticker,,,,,,
BAC,40.114201,54.900002,55.080002,54.820000,55.040001,1226791300
C,422.083649,564.099976,570.000000,555.500000,566.000000,377263850
GS,197.598938,247.919998,250.699997,240.000000,243.550003,114590700
JPM,56.742451,70.080002,70.610001,69.459999,70.190002,217294200
MS,54.688675,89.300003,90.949997,88.330002,90.769997,329786100
WFC,47.091564,58.520000,58.770000,58.070000,58.730000,478736600

#### What is the min statistic for each bank's stock throughout the time period?

In [20]:
df.groupby("Ticker").agg(Adj_Close_Min=("Adj Close", "min"), Close_Min=("Close", "min"), High_Min=("High", "min"), Low_Min=("Low", "min"), Open_Min=("Open", "min"), Volume_Min=("Volume", "min"))

        Adj_Close_Min  Close_Min   High_Min  Low_Min  Open_Min  Volume_Min
Ticker
BAC          2.629201       3.14   3.510000     2.53      3.22     4835400
C            8.440640      10.20  10.700000     9.70     10.20      632860
GS          41.803535      52.00  54.540001    47.41     54.00      694200
JPM         11.259926      15.90  17.290001    14.96     15.37     2926400
MS           7.057823       9.20  10.210000     6.71      9.19     1120500
WFC          5.760869       8.12   8.940000     7.80      8.65     2392000

In [21]:
df.groupby(level=1).agg(Adj_Close_Min=("Adj Close", "min"), Close_Min=("Close", "min"), High_Min=("High", "min"), Low_Min=("Low", "min"), Open_Min=("Open", "min"), Volume_Min=("Volume", "min"))

        Adj_Close_Min  Close_Min   High_Min  Low_Min  Open_Min  Volume_Min
Ticker
BAC          2.629201       3.14   3.510000     2.53      3.22     4835400
C            8.440640      10.20  10.700000     9.70     10.20      632860
GS          41.803535      52.00  54.540001    47.41     54.00      694200
JPM         11.259926      15.90  17.290001    14.96     15.37     2926400
MS           7.057823       9.20  10.210000     6.71      9.19     1120500
WFC          5.760869       8.12   8.940000     7.80      8.65     2392000

#### What are the bank's daily returns on closing price and trading volumes?

In [22]:
# initialize pandas index slice object to slice through different levels of hierarchical index in bank stocks dataframe
idx = pd.IndexSlice

In [23]:
# compute percentage change for Closing price and Volumes for all bank stocks
BAC_pct = df.loc[idx[:, "BAC"], ["Close", "Volume"]].sort_values(by="Date").rename(columns={"Close": "BAC_Close", "Volume": "BAC_Volume"}).pct_change()
C_pct = df.loc[idx[:, "C"], ["Close", "Volume"]].sort_values(by="Date").rename(columns={"Close": "C_Close", "Volume": "C_Volume"}).pct_change()
GS_pct = df.loc[idx[:, "GS"], ["Close", "Volume"]].sort_values(by="Date").rename(columns={"Close": "GS_Close", "Volume": "GS_Volume"}).pct_change()
JPM_pct = df.loc[idx[:, "JPM"], ["Close", "Volume"]].sort_values(by="Date").rename(columns={"Close": "JPM_Close", "Volume": "JPM_Volume"}).pct_change()
MS_pct = df.loc[idx[:, "MS"], ["Close", "Volume"]].sort_values(by="Date").rename(columns={"Close": "MS_Close", "Volume": "MS_Volume"}).pct_change()
WFC_pct = df.loc[idx[:, "WFC"], ["Close", "Volume"]].sort_values(by="Date").rename(columns={"Close": "WFC_Close", "Volume": "WFC_Volume"}).pct_change()

In [24]:
BAC_pct = BAC_pct.droplevel(level=1, axis=0)
C_pct = C_pct.droplevel(level=1, axis=0)
GS_pct = GS_pct.droplevel(level=1, axis=0)
JPM_pct = JPM_pct.droplevel(level=1, axis=0)
MS_pct = MS_pct.droplevel(level=1, axis=0)
WFC_pct = WFC_pct.droplevel(level=1, axis=0)

In [25]:
# concatenate pct change dataframes along column axis
returns = pd.concat([BAC_pct, C_pct, GS_pct, JPM_pct, MS_pct, WFC_pct], axis=1)

In [26]:
returns.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2006-01-03 to 2015-12-31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BAC_Close   2516 non-null   float64
 1   BAC_Volume  2516 non-null   float64
 2   C_Close     2516 non-null   float64
 3   C_Volume    2516 non-null   float64
 4   GS_Close    2516 non-null   float64
 5   GS_Volume   2516 non-null   float64
 6   JPM_Close   2516 non-null   float64
 7   JPM_Volume  2516 non-null   float64
 8   MS_Close    2516 non-null   float64
 9   MS_Volume   2516 non-null   float64
 10  WFC_Close   2516 non-null   float64
 11  WFC_Volume  2516 non-null   float64
dtypes: float64(12)
memory usage: 255.6 KB

In [27]:
returns.fillna(value=0, inplace=True)

In [28]:
# execute ddl statement for bank returns data in sql server
select_records(conn_odbc(), read_contents(rf"{ROOT_DIR}/sql/bank_returns_ddl.sql"))

In [29]:
# insert bank returns df into sql table bank stocks
cols = list(returns.columns)
insert_data = returns.reset_index().values.tolist()
insert_records(conn_odbc(), read_contents(rf"{ROOT_DIR}/sql/bank_returns_insert.sql"), insert_data)

In [30]:
# execute dml statement for bank returns date to update returns for start date as null
update_records(conn_odbc(), read_contents(rf"{ROOT_DIR}/sql/bank_returns_dml.sql"))