In [2]:
import pandas as pd
import numpy as np
import datetime 
%matplotlib inline
from pandas_datareader import data as pdr
import yfinance as yf
import config

In [12]:
yf.pdr_override()
start = datetime.datetime(2006, 1,1)
end = datetime.datetime(2016, 1, 1)
df = pdr.get_data_yahoo(["BAC", "C", "GS", "JPM", "MS", "WFC"], start=start, end=end)

[*********************100%***********************]  6 of 6 completed

In [14]:
df.head()

            Adj Close                                                \
                  BAC           C          GS        JPM         MS
Date
2006-01-03  33.170322  354.033661  101.194183  25.504076  34.886646
2006-01-04  32.818031  347.497375   99.796425  25.356871  34.910576
2006-01-05  32.860294  349.221252   99.757164  25.433670  35.006290
2006-01-06  32.810982  349.221252  101.170609  25.612869  35.042202
2006-01-09  32.832130  347.569153  102.387741  26.028883  35.413147

                           Close                                     ...  \
                  WFC        BAC           C          GS        JPM  ...
Date                                                                 ...
2006-01-03  19.975792  47.080002  492.899994  128.869995  40.189999  ...
2006-01-04  19.744097  46.580002  483.799988  127.089996  39.619999  ...
2006-01-05  19.722187  46.639999  486.200012  127.040001  39.740002  ...
2006-01-06  19.838039  46.570000  486.200012  128.839996  40.020000  ...
2006-01-09  19.834908  46.599998  483.899994  130.389999  40.669998  ...

                  Open                                     Volume           \
                    GS        JPM         MS        WFC       BAC        C
Date
2006-01-03  126.699997  39.830002  57.169998  31.600000  16296700  1537600
2006-01-04  127.349998  39.779999  58.700001  31.799999  17757900  1870960
2006-01-05  126.000000  39.610001  58.549999  31.500000  14970700  1143160
2006-01-06  127.290001  39.919998  58.770000  31.580000  12599800  1370210
2006-01-09  128.500000  39.880001  58.630001  31.674999  15619400  1680740


                 GS       JPM       MS       WFC
Date
2006-01-03  6188700  12838600  5377000  11016400
2006-01-04  4861600  13491500  7977800  10870000
2006-01-05  3717400   8109400  5778000  10158000
2006-01-06  4319600   7966900  6889800   8403800
2006-01-09  4723500  16575200  4144500   5619600

[5 rows x 36 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2006-01-03 to 2015-12-31
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Adj Close, BAC)  2517 non-null   float64
 1   (Adj Close, C)    2517 non-null   float64
 2   (Adj Close, GS)   2517 non-null   float64
 3   (Adj Close, JPM)  2517 non-null   float64
 4   (Adj Close, MS)   2517 non-null   float64
 5   (Adj Close, WFC)  2517 non-null   float64
 6   (Close, BAC)      2517 non-null   float64
 7   (Close, C)        2517 non-null   float64
 8   (Close, GS)       2517 non-null   float64
 9   (Close, JPM)      2517 non-null   float64
 10  (Close, MS)       2517 non-null   float64
 11  (Close, WFC)      2517 non-null   float64
 12  (High, BAC)       2517 non-null   float64
 13  (High, C)         2517 non-null   float64
 14  (High, GS)        2517 non-null   float64
 15  (High, JPM)       2517 non-null   float64
 16  (High, MS)        2517 non-null   float64
 17  (High, WFC)       2517 non-null   float64
 18  (Low, BAC)        2517 non-null   float64
 19  (Low, C)          2517 non-null   float64
 20  (Low, GS)         2517 non-null   float64
 21  (Low, JPM)        2517 non-null   float64
 22  (Low, MS)         2517 non-null   float64
 23  (Low, WFC)        2517 non-null   float64
 24  (Open, BAC)       2517 non-null   float64
 25  (Open, C)         2517 non-null   float64
 26  (Open, GS)        2517 non-null   float64
 27  (Open, JPM)       2517 non-null   float64
 28  (Open, MS)        2517 non-null   float64
 29  (Open, WFC)       2517 non-null   float64
 30  (Volume, BAC)     2517 non-null   int64
 31  (Volume, C)       2517 non-null   int64
 32  (Volume, GS)      2517 non-null   int64
 33  (Volume, JPM)     2517 non-null   int64
 34  (Volume, MS)      2517 non-null   int64
 35  (Volume, WFC)     2517 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 727.6 KB